<form action="/memos" method="post">
  <p>見出し：
    <input type="text" name="new_head" value=""></p>
  <p>本文：
    <textarea name="new_comment"></textarea></p>
  <input type="submit" value="保存">
</form>
