<form action="/memos/<%= @path %>" method="post" name="<%= @path %>">
  <input type="hidden" name="_method" value="patch">
  <p>見出し：<input type="text" name="edithead" value="<%= h(@show_head) %>"></p>
  <p>本文：<textarea name="editcomment" rows="5"><%= h(@show_comment) %></textarea></p>
  <input type="submit" value="保存">
</form>
<a href="/memos">メモ一覧に戻る</a><br>
