<form action="/memos/<%= @key %>" method="post" name="<%= @key %>">
  <input type="hidden" name="_method" value="patch">
  <p>見出し：<input type="text" name="edithead" value="<%= h(@memo["head_data"]) %>"></p>
  <p>本文：<textarea name="editcomment" rows="5"><%= h(@memo["comment_data"]) %></textarea></p>
  <input type="submit" value="保存">
</form>
<a href="/memos">メモ一覧に戻る</a><br>
