<form action="/memos/newmemo" method="get">
  <a href="/memos/newmemo"><button>追加</button></a>
</form>
<form action="memos/<%= $path %>" method="get">
  <ul>
    <% @hash.each do |key,value| %>
    <li>
      <a href="/memos/<%= key %>"><%= value["headdata"] %></a>
    </li>
    <% end %>
  </ul>
</form>
